<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

        <menuitem id="menu_main_amdeb_amzon"
                  sequence="10"
                  name="Amazon"
                  groups="group_amdeb_amazon_user"/>

        <menuitem id="menu_group_amdeb_amzon"
                  parent="menu_main_admdeb_amazon"
                  name="Amazon Integration"/>

        <record id="action_amdeb_amazon_settings"
                model="ir.actions.act_window">
            <field name="name">Amazon Configuration</field>
            <field name="res_model">amdeb.amazon.configuration</field>
            <field name="view_mode">form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    Configure Amazon Integration Parameters.
                </p>
            </field>
        </record>

        <menuitem id="menu_amdeb_amazon_configuration"
                  parent="menu_group_amdeb_amzon"
                  sequence="10"
                  action="action_amdeb_amazon_configuration"/>

    </data>
</openerp>